@import 'mixin/mixin.styl'
webfont(Raleway-ExtraBold, 900)
webfont(Raleway-Bold, bold)
webfont(Raleway-Semibold, 600)
webfont(Raleway-Regular, normal)
webfont(Raleway-Italic, normal)
webfont(Raleway-Light, 300)
webfont(PfDinTextPro-Medium, 600)
webfont(PfDinTextPro-Regular, normal)