/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .feature__block__icon
    width 60px
  .about__card__doctor
    padding 30px 26.6px
  .treatment__item__header__h4
    font-size: 20px
  .callbacks__item
    &__h5
     font-size: 27px
    &__date
      margin 5px 10px 10px 0px
      width 100%
      font-family "PfDinTextPro-Regular"
      background: #fff url('../img/calendar.svg') no-repeat scroll 100px 12px;
      background-size 25px
      &:focus
        background: #fff url('../img/calendar_hover.svg') no-repeat scroll 100px 12px;
        background-size 25px
    &__time
      margin: 5px 0px 10px 10px
      width 100%
      font-family "PfDinTextPro-Regular"
      background: #fff url('../img/time.svg') no-repeat scroll 100px 12px;
      background-size 25px
      &:focus
        background: #fff url('../img/time_hover.svg') no-repeat scroll 100px 12px;
        background-size 25px
    &__text
      font-size: 10px
.opinion
  &__item
    &__img
      border-radius 50%
      width 70px
      height 70px
    &__h5
      font-size 15px
      font-family Raleway-Semibold
      margin 0
      margin-bottom 10px
    &__p
      font-size 14px
      font-family default-font
      line-height 20px
      margin: 0
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .feature__block__h3
    font-size 14px
  .feature__padding__block
    padding 0 12px
  .hexagon
    display none
  .treatment__item__header__h4
    font-size 17px
    line-height 19px
  .callbacks
    background graycolor url("../img/doctor.png") right bottom no-repeat
  .callbacks__item
    &__h5
      font-size: 20px
    &__date
      margin 5px 10px 10px 0px
      width 100%
      font-family "PfDinTextPro-Regular"
      background: #fff url('../img/calendar.svg') no-repeat scroll 120px 9px;
      background-size 29px
      &:focus
        background: #fff url('../img/calendar_hover.svg') no-repeat scroll 120px 9px;
        background-size 29px
    &__time
      margin: 5px 0px 10px 10px
      width 100%
      font-family "PfDinTextPro-Regular"
      background: #fff url('../img/time.svg') no-repeat scroll 120px 9px;
      background-size 29px
      &:focus
        background: #fff url('../img/time_hover.svg') no-repeat scroll 120px 9px;
        background-size 29px
  .opinion__item:nth-child(2), .opinion__item:nth-child(4)
      display none

  .footer
    &__timephone
      &__text
        color:white
        font-size: 12px
        line-height 16px
        margin: 0
        span
          font-family PfDinTextPro-Medium
      &__phone
        color white
        font-family PfDinTextPro-Medium
        text-decoration none
        font-size: 17px
        margin-top 5px
    &__address
      &__text
        color white
        line-height 15px
        font-size: 12px
        margin-top 5px
    &__button
      font-size: 14px
      padding: 7px 30px;
      &:hover
        border 1px solid #fff
        background transparent
        color: #ffffff
    &__callback
      &__form
        &__h5
          font-size: 12px
          color: #fff
          margin: 0
          margin-top: 25px
        &__input
          font-size: 12px
          padding 8px 0px 4px 0px
        &__button
          font-size: 15px
  .footer__menu
    &__h5
      color white
      font-size: 15px
      margin 0
      margin-bottom: 0px
      font-family Raleway-Semibold
      margin-left: 10px
    &__ul
      list-style-type none
      font-size: 13px
      margin 0
      padding 0
      margin-left: 10px
    &__li
      margin: 0
      padding: 0
    &__a
      text-decoration none
      color white
      line-height 10px
      &:hover
        text-decoration underline
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .header__logo
    width 180px

  .header__timephone__text
    font-size 13px
    margin-bottom: 0
  .header__timephone__phone
    font-size 21px
  .slider-main__content__h2
    font-size 50px
  .slider-main__content__p
    font-size 0.9em
  .slider-main__content__link
    font-size 13px
  .content__flex-center
    margin inherit
    margin-top auto
    margin-bottom auto
    padding-left 66px
  .feature
    top 0
    background-color #fbfbfb
  .feature__block
    max-width none
    &:hover
     box-shadow none
  .feature__block__h3
    font-size 15px
    line-height 17px
  .feature__block__icon
    width 60px
  .feature__block__link
    font-size: 14px
  .slider-main
    padding 0
    margin 0
  .card__doctor
    height inherit
    &__h5
      font-size: 20px
    &__p
      font-size: 15px
      line-height 20px
      padding-bottom 50px
    &__link
      bottom 50px
  .block__text__h3
    font-size 24px
  .block__text__p
    font-size: 15px
  .treatment__item
    margin-top: 40px
    padding-left 15px
  .treatment__line
    margin 0
  .callbacks
    background graycolor
  .callbacks__item
    &__h5
      font-size: 30px
    &__text
      font-size: 14px
    &__date
      margin 5px 10px 10px 0px
      width 100%
      font-family "PfDinTextPro-Regular"
      background: #fff
      background-size 29px
      &:focus
        background: #fff;
        background-size 29px
    &__time
      margin: 5px 0px 10px 10px
      width 100%
      font-family "PfDinTextPro-Regular"
      background: #fff;
      background-size 29px
      &:focus
        background: #fff;
        background-size 29px
  .opinion
    &__line
      margin-top: 0px;
    &__item
      display flex
      justify-content: center;
      margin-top: 40px
      &__img
        border-radius 50%
        width 90px
        height 90px
      &__text
        color #202020
        padding-left 20px
      &__h5
        font-size 20px
        font-family Raleway-Semibold
        margin 0
        margin-bottom 10px
      &__p
        font-size 15px
        font-family default-font
        line-height 20px
        margin: 0
  .diploma
    &__items
       &__img
         width 80%
  .footer
    padding 20px 0 20px 0
  .footer__timephone__phone
    font-size: 16px
  .footer__address__text
    font-size: 10px
    display block
  .footer__menu__h5
    font-size: 13px
  .footer__menu__ul
    font-size: 12px
    line-height: 22px
  .footer__callback__form__h5
    margin-top: 10px
    line-height: 15px
  .footer__callback__form__button
    font-size: 12px
  .footer__button
    font-size: 12px
    padding: 7px 22px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header__timephone__phone
    font-size 15px
  .header__timephone__text
    font-size 10px
    margin-bottom 0
  .header__timephone__icon
    font-size: 10px
  .owl-prev, .owl-next
    top inherit
    bottom 40px
    font-size 29px
  .content__flex-center
    padding 0 40px
  .hidden-480
    display none
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .header__logo
    width 150px
  .header__timephone__text
    font-size 10px
    margin-bottom -10px
