/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .feature__block__icon
    width 60px
  .about__card__doctor
    padding 30px 26.6px
  .treatment__item__header__h4
    font-size: 20px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .feature__block__h3
    font-size 14px
  .feature__padding__block
    padding 0 12px
  .hexagon
    display none
  .treatment__item__header__h4
    font-size 17px
    line-height 19px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .header__logo
    width 180px

  .header__timephone__text
    font-size 13px
    margin-bottom: 0
  .header__timephone__phone
    font-size 21px
  .slider-main__content__h2
    font-size 50px
  .slider-main__content__p
    font-size 0.9em
  .slider-main__content__link
    font-size 13px
  .content__flex-center
    margin inherit
    margin-top auto
    margin-bottom auto
    padding-left 66px
  .feature
    top 0
    background-color #fbfbfb
  .feature__block
    max-width none
    &:hover
     box-shadow none
  .feature__block__h3
    font-size 15px
    line-height 17px
  .feature__block__icon
    width 60px
  .feature__block__link
    font-size: 14px
  .slider-main
    padding 0
    margin 0
  .card__doctor
    height inherit
    &__h5
      font-size: 20px
    &__p
      font-size: 15px
      line-height 20px
      padding-bottom 50px
    &__link
      bottom 50px
  .block__text__h3
    font-size 24px
  .block__text__p
    font-size: 15px
  .treatment__item
    margin-top: 40px
    padding-left 15px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .header__timephone__phone
    font-size 15px
  .header__timephone__text
    font-size 10px
    margin-bottom 0
  .header__timephone__icon
    font-size: 10px
  .owl-prev, .owl-next
    top inherit
    bottom 40px
    font-size 29px
  .content__flex-center
    padding 0 40px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .header__logo
    width 150px
  .header__timephone__text
    font-size 10px
    margin-bottom -10px
