@import 'mixin/mixin.styl'
@import '_vars.styl'
@import '_fonts.styl'

body
  background-color white
  font-family default-font
  opacity 1
  overflow-x hidden
  font-size 20px
  line-height 30px
.man-body
    width: 200px
    &___button
      background-color #000
    &__content
      height: 200px
      background-color rgba(#fff, .1)


@import '_media.styl'