@import 'mixin/mixin.styl'
@import '_vars.styl'
@import '_fonts.styl'

body
  background-color white
  color #202020
  font-family default-font
  opacity 1
  overflow-x hidden
  font-size 20px
  line-height 30px
div
  &:focus
   outline none
a
  &:focus
    outline none
.header__logo
  width: 280px
  padding-top 10px
.header__address__icon__map
  color fcolor
  font-size: 20px
  vertical-align middle
.header__address__text
  font-size: 13px
  display block
  font-weight 100
  white-space nowrap
.header__address__link__to__map
  text-decoration underline
  font-weight 100
  font-size: 13px
  color #202020
  padding-left 5px
  transition .2s ease
  &:hover
    color fcolor
    transition .2s ease
    cursor pointer
.header__address__button
  font-size: 12px
  font-weight 600
.button
  background-color fcolor
  color #fff
  padding 13px 20px
  text-decoration none
  border 1px solid fcolor
  transition .2s ease
  text-transform uppercase
  &:hover
    border 1px solid fcolor
    transition .2s ease
    background-color #fff
    color fcolor
    cursor pointer
.header__address__link__to__call
  text-decoration underline
  color #202020
  font-size 15px
  font-weight 600
  margin-left 13px
  &:hover
    color fcolor
    transition .2s ease
    cursor pointer
.header__timephone
  text-align right
.header__timephone__text
  font-size 15px
  white-space nowrap
  span
    color fcolor
    font-weight 600
    font-family PfDinTextPro-Medium
.header__timephone__icon
  color fcolor
  font-size 15px
.header__timephone__phone
  font-size 25px
  white-space nowrap;
  font-family PfDinTextPro-Medium
  color #202020
  text-decoration none
.slider-main
  margin-top: 40px
  position relative
.slider-main__item
  height 349px
  width 100%
  background-size cover
  background-position center
.owl-prev, .owl-next
  position absolute
  top calc(50% - 30px)
  color white
  font-size: 39px
  &:hover
    color darken(#fff, 5%)
    transition .2s ease
.owl-prev
  left 40px
.owl-next
  right 40px
.slider-main__content
  text-align left
  display flex
  height 100%
  position relative
  top 0
  &__h2
   color white
   font-family Raleway-ExtraBold
   font-size: 60px
   margin: 0
   margin-left -3px
   text-transform uppercase
  &__p
   font-weight 600
   color #fff
   font-size 1.08em
   margin: 11px 0
  &__link
   padding 12px 19px
   background-color #fff
   color #202020
   font-weight bold
   text-decoration none
   font-size 16px
   border 1px solid transparent
   transition .2s ease
   &:hover
    background-color transparent
    color white
    border 1px solid white
    transition .2s ease
.feature
  padding 20px 60px
  position relative
  top -45px
  z-index 1
  &__block
    padding 20px
    text-align center
    background-color #fbfbfb
    transition .2s ease
    &:hover
      box-shadow(0px 0px 34px -1px rgba(#000,0.1))
      transition .2s ease
      .feature__block__link
        text-decoration underline
        transition .2s ease
    &__icon
      width 70px
    &__h3
      font-size 17px
      margin: 0;
    &__link
      text-decoration none
      color #202020
      font-size: 15px
.feature__padding__block
  padding 0 44px
.block__text
  text-align center
  &__h3
    font-size 35px
    text-transform uppercase
  &__p
    font-size 20px
.content__flex-center
  margin auto
.about__card__doctor
  position relative
  padding 30px 60px
.card__doctor
  background-color scolor
  text-align center
  transition .2s ease
  height: 450px
  &:hover
   box-shadow(0px 0px 34px -1px rgba(#000,0.1))
   transition .2s ease
   cursor pointer
   .card__doctor__link
    text-decoration underline
  &__h5
   font-size 15px
   font-weight 600
   color #fff
   margin 0
   margin-top: 23px
  &__p
   font-size: 13px
   font-weight 600
   line-height  18px
   color #fff
   padding 0px 15px 20px 15px
  &__img
    width 100%
  &__link
    color #fff
    text-decoration none
    font-size 14px
    position absolute
    text-align center
    bottom 33px
    left calc(50% - 38px)
.hexagon
   position absolute
   width 60px
   height 33px
   background-color #fff
   top: calc(54% - 33px);
   left: calc(50% - 33px);
   font-size: 27px
   font-weight: 600
   display flex
   justify-content center
   align-content center
   align-items center
   &:before, &:after
    content ""
    position absolute
    width 0
    left 0
    border-left 30px solid transparent
    border-right 30px solid transparent
   &:before
    bottom 100%
    border-bottom 21px solid #fff
   &:after
    top 100%
    width 0
    border-top 21px solid #fff
.treatment
  &__item__button
    text-align center
    margin-top: 40px
  &__button
    font-size: 15px
    text-transform none
  &__line
    margin-top: 40px
    &__hidden
      display none
  &__item
   padding-left calc(50% - 500px)
   &__header
     display flex
     justify-content flex-start
     align-items center
     &__img
      width 54px
     &__h4
      font-size 22px
      font-weight 600
      padding-left 10px
      margin: 0
   &__p
      font-size 14px
      line-height 20px
      margin-top 10px
      padding-right: 40px
   &__link
      font-size 15px
      color #000
.callbacks
  width 100%
  margin-top: 50px
  background graycolor url("../img/doctor.png") 80% bottom no-repeat
.callbacks__form
  display flex
  flex-direction column
  text-align center
  margin-bottom 30px
.callbacks__item
  &__flex
    display flex
    justify-content space-between
  &__h5
    font-size 33px
    font-family: Raleway-Bold
    margin: 50px 0 27px 0
  &__way
    display none
    &:focus
      outline none
  &__name, &__phone, &__time, &__date
    margin: 10px 0
    padding: 16px 13px
    font-size: 16px
    border 1px solid #ebedf0
    font-family "PF DinText Pro"
    border none
    transition .25s ease
    +placeholder()
      color #000
    &:focus
      outline none
      box-shadow(0px 2px 0px 0px rgba(fcolor,1))
      transition .25s ease
  &__phone
    margin: 10px 0
    font-family "PF DinText Pro"
  &__flex
    margin: 10px 0
  &__date
    margin 5px 10px 10px 0px
    width 100%
    font-family "PfDinTextPro-Regular"
    background: #fff url('../img/calendar.svg') no-repeat scroll 132px 9px;
    background-size 29px
    &:focus
      background: #fff url('../img/calendar_hover.svg') no-repeat scroll 132px 9px;
      background-size 29px
  &__time
    margin: 5px 0px 10px 10px
    width 100%
    font-family "PfDinTextPro-Regular"
    background: #fff url('../img/time.svg') no-repeat scroll 132px 9px;
    background-size 29px
    &:focus
      background: #fff url('../img/time_hover.svg') no-repeat scroll 132px 9px;
      background-size 29px
  &__button
    margin 10px auto
    font-size 15px
    padding 10px 50px
    text-transform none
    font-family Raleway-Semibold
  &__text
    font-size: 12px
    line-height 20px
    letter-spacing 0.6px
    &__link
      font-family Raleway-Bold
      color fcolor
      text-decoration underline
.styledSelect
  margin 10px 0
  background white
  border 1px solid #ebedf0
  text-align left
  font-family "PfDinTextPro-Regular"
  width: 100%
  position relative
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  font-size: 16px
  padding: 12px 13px
  border-radius 2px
  -moz-appearance:none;
  background-image:url('../img/caret-down.svg')
  background-repeat: no-repeat;
  background-size: 32px 12px;
  background-position: right center;
  background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
.styledSelect:active, .styledSelect.active
  background-color #eee
.options
  display none
  font-size: 16px
  position absolute
  top 21%
  right 0
  left 0
  z-index 999
  margin 0 0
  padding 0 0
  list-style none
  border 1px solid #ccc
  background-color white
.options li
  padding 0 6px
  margin 0 0
  padding 0 10px
.options li:hover
  background-color fcolor
  color white
  cursor pointer
.opinion
  margin-top: 20px
  &__line
   margin-top: 40px;
  &__link
   color #202020
   text-align center
   display block
   margin-top 20px
   font-family Raleway-Semibold
   font-size: 16px
   transition .2s ease
   &:hover
    color fcolor
    transition .2s ease
  &__item
   display flex
   justify-content: center;
   &__img
     border-radius 50%
     width 90px
     height 90px
   &__text
    color #202020
    padding-left 20px
   &__h5
      font-size 20px
      font-family Raleway-Semibold
      margin 0
      margin-bottom 10px
   &__p
      font-size 15px
      font-family default-font
      line-height 20px
      margin: 0
.diploma
  margin-top: 20px
  &__items
    background graycolor
    width 100%
    padding 50px 0px
    &__link
      color #202020
      text-align center
      display block
      margin-top 20px
      font-family Raleway-Semibold
      font-size: 16px
      transition .2s ease
    &__img
      width 100%
.footer
  width 100%
  margin-top: 40px
  background scolor
  padding: 20px 0 40px 0
  &__info
    line-height: 21px;
  &__timephone
    &__text
     color:white
     font-size: 12px
     span
      font-family PfDinTextPro-Medium
    &__phone
      color white
      font-family PfDinTextPro-Medium
      text-decoration none
      font-size: 21px
  &__address
    &__text
      color white
      line-height 15px
      font-size: 12px

    &__icon__map
      color white
  &__button
      background #fff
      border 1px solid transparent
      font-size: 16px
      color #000
      text-transform none
      padding: 7px 44px;
      &:hover
       border 1px solid #fff
       background transparent
       color: #ffffff
  &__callback
     &__form
      &__h5
        font-size: 12px
        color: #fff
        margin: 0
        margin-top: 25px
      &__input
        background transparent
        border-bottom 2px solid white
        border-top none
        border-left none
        border-right none
        color white
        font-family "PF DinText Pro"
        font-size: 16px
        padding 8px 12px 4px 0px
        +placeholder()
            color #fff
        &:focus
          outline none
      &__button
        font-size: 25px
        color: #fff
        vertical-align: middle
        transition .2s ease
        &:hover
          opacity 0.8
          transition .2s ease
  &__social
     &__h5
       font-size: 12px
       color: #fff
       margin: 0
       margin-top: 25px
     &__link
       color: white
       font-size: 20px
       &:nth-child(2), &:nth-child(3)
        padding-left 10px
       &:hover
        opacity 0.8
.footer__menu
  &__h5
    color white
    font-size: 20px
    margin 0
    margin-bottom: 20px
    font-family Raleway-Semibold
    margin-left: 10px
  &__ul
    list-style-type none
    font-size: 15px
    margin 0
    padding 0
    margin-left: 10px
  &__li
    margin: 0
    padding: 0
  &__a
     text-decoration none
     color white
     line-height 10px
     &:hover
      text-decoration underline
.callback
  &__form
    &__popup
      background #fff
      margin auto
      width 320px
      display: flex
      flex-direction: column
      padding: 20px 34px
      background graycolor
      position relative
      &__h4
        font-family Raleway-Semibold
        text-transform uppercase
        text-align center
        margin: 0
      &:focus
       outline none
      &__name, &__phone, &__time
        margin: 10px 0
        padding: 16px 13px
        font-size: 16px
        border 1px solid #ebedf0
        font-family "PF DinText Pro"
        border none
        transition .25s ease
        +placeholder()
          color #000
        &:focus
          outline none
          outline none
          box-shadow(0px 2px 0px 0px rgba(fcolor,1))
          transition .25s ease
       &__button
          text-align: center;
          font-size: 15px;
          display: block;
          padding: 5px 9px;
          margin: 9px 25px;
.mfp-close-btn-in .mfp-close
  transition .2s ease
  color fcolor
  opacity 1
  &:hover
    transform rotate(90deg)
#map
  width 100%
  height 500px
  display block
@import '_media.styl'