doctype html
html
    include parts/header.pug
    .container.page__breadcumb
        .row
            .col-md-12.col-sm-12.col-xs-12
                a.page__breadcumb__link(href='#') Главная
                span >
                a.page__breadcumb__link(href='#') Сердечно-сосудистая система
    .container.page__content
        h2.page__content__h2  Сердечно-сосудистая система
        p.page__content__p.
            Сердечно-сосудистая система — система органов, которая обеспечивает циркуляцию крови в организме человека и животных.
        img(src="img/article_image.png")
        p.page__content__p
            | Благодаря циркуляции крови, кислород, а также питательные вещества доставляются органам и тканям тела, а
            |              углекислый газ, другие продукты метаболизма и отходы жизнедеятельности выводятся. Если вас заинтересовала
            |              данная услуга, то выберите пожалуйста категорию или
            =' '
            a.page__content__link(href="#callback-form") оставьте заявку
        .category
            a.category__icon(href='#') Атеросклероз
            a.category__icon(href='#') Кардиология
        p.page__content__p.
            Обмен веществами между кровью и интерстициальной жидкостью происходит через проницаемую стенку капилляров — мелких сосудов, соединяющих артериальную и венозную системы. За одну минуту через стенки всех капилляров человека просачивается около 60 литров жидкости.
    include parts/popup.pug
    include parts/footer.pug