doctype html
html
    include parts/header.pug
    .container.page__breadcumb
        .row
            .col-md-12.col-sm-12.col-xs-12
                a.page__breadcumb__link(href='#') Главная
                span >
                a.page__breadcumb__link(href='#') Врачи
    .container.page__content
        h2.page__content__h2  Отзывы
        p.page__content__p.
            Медицина – стремительно развивающаяся отрасль, поэтому наши врачи постоянно совершенствуют свою квалификацию, осваивают новые успешные методики, учатся у ведущих специалистов страны!
    .diploma__items.diploma__items_nonback
       .container
        .row
            .col-sm-2.col-md-2.col-xs-4
                a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                    img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
            .col-sm-2.col-md-2.col-xs-4
                a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                    img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
            .col-sm-2.col-md-2.col-xs-4
                a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                    img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
            .col-sm-2.col-md-2.col-xs-4
                a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                    img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
            .col-sm-2.col-md-2.col-xs-4
                a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                    img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
            .col-sm-2.col-md-2.col-xs-4
                a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                    img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
    .diploma__items.diploma__items_nonback
        .container
            .row
                .col-sm-2.col-md-2.col-xs-4
                    a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                        img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                .col-sm-2.col-md-2.col-xs-4
                    a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                        img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                .col-sm-2.col-md-2.col-xs-4
                    a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                        img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                .col-sm-2.col-md-2.col-xs-4
                    a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                        img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                .col-sm-2.col-md-2.col-xs-4
                    a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                        img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                .col-sm-2.col-md-2.col-xs-4
                    a.diploma__items__link(href="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
                        img.diploma__items__img(src="img/diploma.jpg" data-lightbox="image-1" data-title="Описание")
    include parts/popup.pug
    include parts/footer.pug