doctype html
html
    include parts/header.pug
    .container.page__breadcumb
        .row
            .col-md-12.col-sm-12.col-xs-12
                a.page__breadcumb__link(href='#') Главная
                span >
                a.page__breadcumb__link(href='#') Врачи
    .container.page__content
        h2.page__content__h2  Наши врачи
        p.page__content__p.
            Медицина – стремительно развивающаяся отрасль, поэтому наши врачи постоянно совершенствуют свою квалификацию, осваивают новые успешные методики, учатся у ведущих специалистов страны!
        .about.container
            .row
                .col-md-4.col-sm-4.col-xs-12.about__card__doctor
                    .card__doctor
                        .hexagon Т
                        img.card__doctor__img(src="img/about/doctor_1.png")
                        h5.card__doctor__h5.
                            Ковалева Татьяна Викторовна
                        p.card__doctor__p.
                            Кандидат медицинских наук, врач – терапевт высшей категории (стаж 25 лет), трансфузиолог (стаж 15 лет), физиотерапевт (стаж 20 лет).
                        a.card__doctor__link(href="#") Подробнее
                .col-md-4.col-sm-4.col-xs-12.about__card__doctor
                    .card__doctor
                        .hexagon Н
                        img.card__doctor__img(src="img/about/doctor_2.png")
                        h5.card__doctor__h5.
                            Хохлова Наталья Николаевна
                        p.card__doctor__p.
                            Врач высшей категории, терапевт, врач общей практики (стаж 16 лет) - профилактическая медицина, натуропатия, диагностика по Фоллю.
                        a.card__doctor__link(href="#") Подробнее
                .col-md-4.col-sm-4.col-xs-12.about__card__doctor
                    .card__doctor
                        .hexagon Н
                        img.card__doctor__img(src="img/about/doctor_3.png")
                        h5.card__doctor__h5.
                            Коротец Елена Владимировна
                        p.card__doctor__p.
                            Врач высшей категории, терапевт, кардиолог (стаж 12 лет)
                        a.card__doctor__link(href="#") Подробнее

                .col-md-4.col-sm-4.col-xs-12.about__card__doctor
                    .card__doctor
                        .hexagon Н
                        img.card__doctor__img(src="img/about/doctor_3.png")
                        h5.card__doctor__h5.
                            Коротец Елена Владимировна
                        p.card__doctor__p.
                            Врач высшей категории, терапевт, кардиолог (стаж 12 лет)
                        a.card__doctor__link(href="#") Подробнее

                .col-md-4.col-sm-4.col-xs-12.about__card__doctor
                    .card__doctor
                        .hexagon Н
                        img.card__doctor__img(src="img/about/doctor_3.png")
                        h5.card__doctor__h5.
                            Коротец Елена Владимировна
                        p.card__doctor__p.
                            Врач высшей категории, терапевт, кардиолог (стаж 12 лет)
                        a.card__doctor__link(href="#") Подробнее

                .col-md-4.col-sm-4.col-xs-12.about__card__doctor
                    .card__doctor
                        .hexagon Н
                        img.card__doctor__img(src="img/about/doctor_3.png")
                        h5.card__doctor__h5.
                            Коротец Елена Владимировна
                        p.card__doctor__p.
                            Врач высшей категории, терапевт, кардиолог (стаж 12 лет)
                        a.card__doctor__link(href="#") Подробнее

    include parts/popup.pug
    include parts/footer.pug