doctype html
html
    include parts/header.pug

    body.home
        p.
        i.fa.fa-mobile
        section.man
            .man__content

        .table
            .table__item
            .table__item.table__item_red
            .table__item
            input(type="submit", class="table__item__button table__item_button__red")
        p.
            12312321

        include parts/footer.pug