doctype html
html
    include parts/header.pug
    .container.page__breadcumb
        .row
            .col-md-12.col-sm-12.col-xs-12
                a.page__breadcumb__link(href='#') Главная
                span >
                a.page__breadcumb__link(href='#') Врачи
    .container.page__content
        h2.page__content__h2  Отзывы
        p.page__content__p.
            Медицина – стремительно развивающаяся отрасль, поэтому наши врачи постоянно совершенствуют свою квалификацию, осваивают новые успешные методики, учатся у ведущих специалистов страны!
    .container.opinion__line
                .row
                    .col-sm-6.col-md-4.col-xs-12.opinion__item
                        img.opinion__item__img(src="img/opinion_people.jpg")
                        .opinion__item__text
                            h5.opinion__item__h5 Олеся Профитова
                            p.opinion__item__p.
                                Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
                    .col-sm-6.col-md-4.col-xs-12.opinion__item
                        img.opinion__item__img(src="img/opinion_people.jpg")
                        .opinion__item__text
                            h5.opinion__item__h5 Олеся Профитова
                            p.opinion__item__p.
                                Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
                    .col-sm-6.col-md-4.col-xs-12.opinion__item
                        img.opinion__item__img(src="img/opinion_people.jpg")
                        .opinion__item__text
                            h5.opinion__item__h5 Олеся Профитова
                            p.opinion__item__p.
                                Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
    .container.opinion__line
                .row
                    .col-sm-6.col-md-4.col-xs-12.opinion__item
                        img.opinion__item__img(src="img/opinion_people.jpg")
                        .opinion__item__text
                            h5.opinion__item__h5 Олеся Профитова
                            p.opinion__item__p.
                                Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
                    .col-sm-6.col-md-4.col-xs-12.opinion__item
                        img.opinion__item__img(src="img/opinion_people.jpg")
                        .opinion__item__text
                            h5.opinion__item__h5 Олеся Профитова
                            p.opinion__item__p.
                                Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
                    .col-sm-6.col-md-4.col-xs-12.opinion__item
                        img.opinion__item__img(src="img/opinion_people.jpg")
                        .opinion__item__text
                            h5.opinion__item__h5 Олеся Профитова
                            p.opinion__item__p.
                                Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
    .container.opinion__line
        .row
            .col-sm-6.col-md-4.col-xs-12.opinion__item
                img.opinion__item__img(src="img/opinion_people.jpg")
                .opinion__item__text
                    h5.opinion__item__h5 Олеся Профитова
                    p.opinion__item__p.
                        Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
            .col-sm-6.col-md-4.col-xs-12.opinion__item
                img.opinion__item__img(src="img/opinion_people.jpg")
                .opinion__item__text
                    h5.opinion__item__h5 Олеся Профитова
                    p.opinion__item__p.
                        Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
            .col-sm-6.col-md-4.col-xs-12.opinion__item
                img.opinion__item__img(src="img/opinion_people.jpg")
                .opinion__item__text
                    h5.opinion__item__h5 Олеся Профитова
                    p.opinion__item__p.
                        Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!

    .container.opinion__line
        .row
            .col-sm-6.col-md-4.col-xs-12.opinion__item
                img.opinion__item__img(src="img/opinion_people.jpg")
                .opinion__item__text
                    h5.opinion__item__h5 Олеся Профитова
                    p.opinion__item__p.
                        Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
            .col-sm-6.col-md-4.col-xs-12.opinion__item
                img.opinion__item__img(src="img/opinion_people.jpg")
                .opinion__item__text
                    h5.opinion__item__h5 Олеся Профитова
                    p.opinion__item__p.
                        Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
            .col-sm-6.col-md-4.col-xs-12.opinion__item
                img.opinion__item__img(src="img/opinion_people.jpg")
                .opinion__item__text
                    h5.opinion__item__h5 Олеся Профитова
                    p.opinion__item__p.
                        Отличная клиника и отличные специалисты, а также быстрое и безболезненное лечение, все очень понравилось спасибо!
    include parts/popup.pug
    include parts/footer.pug