/////////////////////////////////////////////////////////////
// Миксин для шрифта
/////////////////////////////////////////////////////////////

webfont(namefont, weight)
  @font-face
    font-family namefont
    src url('../fonts/' + namefont + '/' + namefont + '.ttf') format('truetype')
    font-weight weight

/////////////////////////////////////////////////////////////
// Миксин для тени
/////////////////////////////////////////////////////////////
box-shadow()
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments
/////////////////////////////////////////////////////////////
// Цвет плейсхолдера
/////////////////////////////////////////////////////////////
placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}