//- includes/head.pug
head
    title Доктор лазер
    style(opacity:0; overflow-x:hidden;)
    meta(charset = 'utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name='description', content='')
    meta(property='og:image', content='')
    link(rel="shortcut icon" href="")
    link(rel="apple-touch-icon" href="")
    link(rel="apple-touch-icon" sizes="72x72" href="")
    link(rel="apple-touch-icon" sizes="114x114" href="")

    //chrome
    meta(name="theme-color" content="#a3dfc7")
    //windows /phone
    meta(name="msapplication-navbutton-color" content="#a3dfc7")
    //ios /safari
    meta(name="apple-mobile-web-app-status-bar-style" content="#a3dfc7")
header.header
    p.
        12312