form#callback-form.mfp-hide.callback__form__popup
    h4.callback__form__popup__h4 Обратный звонок
    input.callback__form__popup__name#name(placeholder='Ваше имя')
    input.callback__form__popup__phone(placeholder='Ваш телефон')
    input.callback__form__popup__time(placeholder='Время')
    a.button.callback__form__popup__button.callback__form__popup__button__js(href="#") Отправить


.maps#maps__address.mfp-hide.maps__address
    script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1" +
    ".0/js/?um=constructor%3Af79cedaa293121d3c1fe5bb8dd7e1510036d7146a5c08ae18e0df53f1892e2fb&amp;width=100%25&amp;" +
    "height=400&amp;lang=ru_RU&amp;scroll=true")

.maps__route#map.mfp-hide
